[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/rapidjson"]
	path = 3rdparty/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "3rdparty/chords-db"]
	path = 3rdparty/chords-db
	url = https://github.com/tombatossals/chords-db.git
